body{
	margin: 0px;
	padding: 0px;
}
.pit #console-container{
	width: 100%;

}
.gutter{
	height: 1.5em;
	color: #FAFAFA;
	background-color: #404040;
}

#console-result{
	color: #993300;
	padding: 5px;
}

#console-input{
	background-color: #FFFFFF;
	height: 1.5em;
	color: #00003D;
	margin: 5px;
}