body{
	background-color: #404040;
	margin: 0px;
	padding: 0px;
	font-family: Impact, Charcoal, sans-serif;
}

#console-result{
	color: #EEEEEE;
	padding: 5px;
}

#console-input{
	background-color: #FFFFFF;
	height: 1.5em;
	color: #00003D;
	margin: 5px;
	line-height: 1.5em;
}

.pit, #console-container{
	width: 100%;
	font-family: "Courier New", Courier, monospace;
	padding: 0px 2px;
}
.gutter{
	height: 1.5em;
	color: #FAFAFA;
	background-color: #017A62;
	margin: 5px;
	letter-spacing: 1px;
	padding: 5px;
}
.error {
	color: #FF7F3F;
}